In [1]:
# 1. intro to lists and 2. delete lists from python module

In [2]:
# 3.add list from python module

In [2]:
# 4. iterating lists

In [4]:
spendings = [1346.0, 987.50, 1734.40, 2567.0, 3271.45, 2500.0, 2130.0, 2510.30, 2987.34, 3120.50, 4069.78, 1000.0]

lowcount = 0;
normalcount = 0;
highcount = 0;

for spending in spendings :
    if spending < 1000.0 :
        lowcount += 1
    elif spending >= 1000.0 and spending <= 2500.0 :
        normalcount += 1
    else:
        highcount += 1
print ('Number of months with low spendings:',lowcount,', normal spendings:',normalcount,', high spendings:',highcount,'.')

Number of months with low spendings: 1 , normal spendings: 5 , high spendings: 6 .

In [5]:
spendings = [1346.0, 987.50, 1734.40, 2567.0, 3271.45, 2500.0, 2130.0, 2510.30, 2987.34, 3120.50, 4069.78, 1000.0]

lowcount = 0;
normalcount = 0;
highcount = 0;

for spending in spendings :
    if spending < 1000.0 :
        lowcount += 1
    elif spending >= 1000.0 and spending <= 2500.0 :
        normalcount += 1
    else:
        highcount += 1
print('Numbers of months with low spendings: ' + str(lowcount) + ', normal spendings: ' + str(normalcount) + ', high spendings: ' + str(highcount) + '.')

Numbers of months with low spendings: 1, normal spendings: 5, high spendings: 6.

In [6]:
table = [['A1', 'A2', 'A3'], ['B1', 'B2', 'B3']]
for row in table:
    for cell in row:
        print(cell, '', end = '')
    print()

A1 A2 A3
B1 B2 B3

In [9]:
#1 2 3 4 5
#1 2 3 4 5
#1 2 3 4 5
#1 2 3 4 5

table = [[i for i in range(1, 6)] for j in range(4)]
print(table)

[[1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5]]

In [12]:
#1 2 3 4 5
#1 2 3 4 5
#1 2 3 4 5
#1 2 3 4 5

table = [[i for i in range(1, 6)] for j in range(4)]
#print(table)
for row in table:
    for col in row:
        print(col, end=' ')
    print()  # Move to the next line after each row

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [13]:
list_names = ['ahmad', 'john'] * 2
print(list_names)

['ahmad', 'john', 'ahmad', 'john']

In [2]:
first = 5
second = 7
first, second = second, first
print(first,second)

7 5

In [4]:
capitals = [('London', 'UK', 8.98), ('Canberra', 'Australia', 0.4), ('Algiers', 'Algeria', 3.9)]
for capital in capitals:
    print('Name:', capital[0], ', Country:', capital[1], ', Population:', capital[2])

Name: London , Country: UK , Population: 8.98
Name: Canberra , Country: Australia , Population: 0.4
Name: Algiers , Country: Algeria , Population: 3.9

In [5]:
capitals = [('London', 'UK', 8.98), ('Canberra', 'Australia', 0.4), ('Algiers', 'Algeria', 3.9)]
for capital in capitals:
    print(capital)

('London', 'UK', 8.98)
('Canberra', 'Australia', 0.4)
('Algiers', 'Algeria', 3.9)

In [8]:
capitals = [('London', 'UK', 8.98), ('Canberra', 'Australia', 0.4), ('Algiers', 'Algeria', 3.9)]
print(capitals[0][2])
print(capitals[2][1])

8.98
Algeria

In [10]:
connections = [
    ('Amsterdam', 'Dublin', 100),
    ('Amsterdam', 'Rome', 140),
    ('Rome', 'Warsaw', 130),
    ('Minsk', 'Prague', 95),
    ('Stockholm', 'Rome', 190),
    ('Copenhagen', 'Paris', 120),
    ('Madrid', 'Rome', 135),
    ('Lisbon', 'Rome', 170),
    ('Dublin', 'Rome', 170),
    ]
    
counter = 0;
flightTime = 0.0;
    
for connection in connections:
    city_from = connection[0]
    city_to = connection[1]
    time = connection[2]
        
    if city_to == 'Rome' :
        counter += 1
        flightTime += time

avg = flightTime / counter

print(counter,'connections lead to Rome with an average flight time of',avg,'minutes')

5 connections lead to Rome with an average flight time of 161.0 minutes

In [11]:
tennis_ranking = {
    1: 'Ashleigh Barty',
    2: 'Naomi Osaka',
    3: 'Simona Halep'
    }

In [14]:
print(tennis_ranking[2])

Naomi Osaka

In [15]:
tennis_ranking = {
    1: 'Ashleigh Barty',
    2: 'Naomi Osaka',
    3: 'Simona Halep'
    }
print(tennis_ranking)

{1: 'Ashleigh Barty', 2: 'Naomi Osaka', 3: 'Simona Halep'}

In [1]:
sample_dict = {
    "mouth": "Mund",
    "finger": "Finger",
    "leg": "Bein",
    "hand": "Hand",
    "face": "Gesicht",
    "nose": "Nase"
}

word = input('Enter a word in English or EXIT: ')

while (word != 'EXIT') :
    if word in sample_dict :
        print ('Translation:',sample_dict[word])
    else :
        print('No match!')
        
    word = input('Enter a word in English or EXIT: ')
        
print('Bye!')

Enter a word in English or EXIT:  face

Translation: Gesicht

Enter a word in English or EXIT:  nose

Translation: Nase

Enter a word in English or EXIT:  blah

No match!

Enter a word in English or EXIT:  EXIT

Bye!

In [3]:
# list.insert(index, element)

In [4]:
# Original with default step of 1
original_list = [i for i in range(0, 10)]
print(original_list)  # Output: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# Modified to increment by 2
custom_increment_list = [i for i in range(0, 10, 2)]
print(custom_increment_list)  # Output: [0, 2, 4, 6, 8]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8]

In [6]:
values = [[3 - x for x in range(0, 4, 2)] for y in range(5)]

In [11]:
values = [[3 - x for x in range(2)] for y in range(5)]
# it is the same as range(0,2,1)
# 0 is the start value, 2 is the stopping value, 1 is the increment value that is also the default increment value if not mentioned. it will print 0,1
# range (0,4,2)
# it will print 0,2

In [12]:
vals = (1, 2, 3, 4)
#so it is same like vals[1:3]
#it prints 2,3
#vals[1:-1] is also correct now i understood because it is a rule that the lists or tuples slicing should be from left to right so in reallity it is going from left to right like on 1 index there is 2 and on -1 there is 4 but it goes till 0 that is 3 so it prints 2,3

In [17]:
nicks = {'Adam': 'Smasher', 'Kate': 'k4t3', 'John': 'xJohnx'}
 

print(nicks['k4t3'])

KeyError: 'k4t3'

In [18]:
print(nicks['Kate'])

k4t3

In [24]:
nicks = {'Adam': 'Smasher', 'Kate': 'k4t3', 'John': 'xJohnx'}
 
'k4t3' in nicks.keys()

 # in dictioinary, colon se left wali keys hoti hain or right wali values

False

In [25]:
nicks = {'Adam': 'Smasher', 'Kate': 'k4t3', 'John': 'xJohnx'}
 
'k4t3' in nicks.values()

True

In [1]:
# lists, tuples, and dictionaries are built-in data structures or collections

In [2]:
#Lists: Mutable (you can change, add, or remove elements after the list is created).

#Example: my_list = [1, 2, 3] (You can do my_list[0] = 10 to change the first element).
#Tuples: Immutable (once a tuple is created, you cannot change, add, or remove its elements).

#Example: my_tuple = (1, 2, 3) (You cannot do my_tuple[0] = 10).
#Dictionaries: Mutable (you can change, add, or remove key-value pairs after the dictionary is created).

#Example: my_dict = {'key1': 'value1', 'key2': 'value2'} (You can do my_dict['key1'] = 'new_value' to change the value associated with 'key1').

In [13]:
arr = [i**2 for i in range(10)]
arr

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [16]:
arr = []
for i in range(10):
    arr.append(i**2)
arr

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [20]:
print('hello', end=' ')
print('world', end='  ')

hello world

In [21]:
print ('hello')
print ('world')

hello
world

In [34]:
claim = "Pluto is a planet!"
claim.startswith('Pluto')
#claim.endswith('planet')

True